{% extends "base.html" %}

{% block body %}

<div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}


    {% if comments %}

        {% for comment in comments %}

            <p><h4>{{comment[0]}}</h4></div>
                <sub>{{comment[1]}}</sub><div>
            </p>

        {% endfor %}

        {% else %}

        <h4>There are no comments</h4>

    {% endif %}

    <form action="/comment/{{ id }}" method="post">
        <textarea name="comment" placeholder="Add a comment"></textarea>
        <button type="submit">Submit</button>
    </form>

</div>

{% endblock %}