{% extends "base.html" %}

{% block body %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div>
        <p>{{blog[1]}}</p>
        <form action="/edit/{{blog[0]}}" method="post">
            <input type="text" placeholder="{{blog[1]}}" required autofocus name="edited">
            <input type="submit" value="submit">
        </form>
    </div>
    

{% endblock %}
