{% extends "base.html" %}

{% block body %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p>{{msg}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

<div>
    <form action="/login" method="post">
        <label for="username">Username:</label>
            <input type="text" name="username"><br>
        <label for="password">Password:</label>
            <input type="text" name="password"><br>
        <input type="submit" value="Log In"><br>
    </form>

    <a href="/signup"><sub>You don't have an account?</sub></a>
    <a href="/forgot"><sub>Forgot your password?</sub></a>
</div>


{% endblock %}
